h3 {
  color: white;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

a{
  text-decoration: none;
  color: white;
}

hr {
  display: inline-flex;
  width: 22%;
  margin: 3px;
  border: 0;
  height: 0;
  border-top: 1px solid black;
}

.register-block{
  text-align: center;
}

.local-auth-boutton {
  margin: 30px;
}

.or {
  display: inline;
}

.register-button {
  color: white;
  text-decoration: unset;
}

.register-err{
  color: rgb(194, 8, 8);
  margin-bottom: 10px;
}

.login-button {
  color: white;
  text-decoration: unset;
}


.MuiButtonBase-root.MuiButton-root.MuiButton-contained.change-user-name-submit.MuiButton-containedPrimary {
  margin-top: 0.5rem;
}

.App {
  text-align: center;
}

.google-auth {
  margin: 2rem;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}

.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.enter-name-form{
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2rem;
}

.sender-name{
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.chat-box{
  margin: auto;
  width: 750px;
  height: 900px;
  background: #ced1da;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  bottom: 0em;
  padding-bottom: 3rem;
}



/* .chat-input{
} */

.ul-users{
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

/* .div-users{
  margin-left: 100px;
} */

.logged-users-container{
  text-align: center;
  margin: 5px;
  padding: 10px;
  position: absolute;
  background-color: azure;
  height: auto;
  width: auto;
  border-radius: 5px;
}

.user-name {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  padding-left: 5px;
}

.default-user-pic{
  display: inline-block;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  margin-top: 22px;
}

.default-user-pic-profile{
  display: inline-block;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.user-n-img{
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

@media (max-width: 800px) {
  .chat-box{
    margin-top: 10px;
    width: 80%;
    height: 550px;
    bottom: 200px;
  }
  .chat-input{
    position: absolute;
    bottom: 50px;
    left: 3%;
    background-color: azure;
    padding: 15px;
    padding-top: 5px;
    border-radius: 5px;
    width: 88%;
    height: 50px;
    margin: auto;
  }
  .send-button{
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}


