.logged-users-container{
  text-align: center;
  margin: 5px;
  padding: 10px;
  position: absolute;
  height: auto;
  width: 250px;
  border-radius: 5px;
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: none;
}

.chat-box{
  margin: auto;
  width: 750px;
  height: calc(100vh - 130px);
  background: #ced1da;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  bottom: 0em;
  padding-bottom: 1rem;

}

@media (max-aspect-ratio: 1/1.5), (max-width: 800px) {
  .chat-box{
    height: calc(100vh - 130px);
    width: 100%;
    position: absolute;
    top: -10px;
    border-radius: 0px;
  }
}
