.sender-name{
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 35px;
  padding: 10px;
  width: 28vh;
  margin: 10px 0;
  margin-right: -60%;
  margin-left: 10%;
}

.self-container {
  background-color: #c8c2bc;
  border: 2px solid #dedede;
  border-radius: 35px;
  padding: 10px;
  width: 28vh;
  margin: 10px 0;
  margin-left: 60%;
}

.time-right {
  float: right;
  color: #aaa;

}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

p {
  margin-bottom: 0.2rem;
}