a{
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

#register-btn{
  color: rgb(20, 20, 167);
}

.home-login{
  margin: 10%;
}


.title-guest-input{
  margin-bottom: -1rem;
}

.register-err{
  color: rgb(194, 8, 8);
  margin-bottom: 10px;
}
