.register-block{
    text-align: center;
}
  
.local-auth-boutton {
    padding-bottom: 10px;
}

#log-reg-header{
    color: rgb(51, 51, 51);
    display: block;
    cursor: pointer;
    /* border: none; */
}

.card-header-remove{
    border: none;
}

#log-reg-header:hover{
    text-decoration: underline;
}

#optional{
    margin: 0;
}

.register-button {
    color: rgb(36, 1, 231);
    text-decoration: underline;
}
  
.register{
  padding-bottom: 10px;
}

.login-button {
  color: white;
  text-decoration: unset;
  
  width: 140px;
}

.cardd{
  width: 30%;
  margin: auto;
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: none;
}

.slide-bottom {
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100px);
    }
  }
  
  
  
  
@media (max-width: 800px) {
  .cardd{
    width: 70%;
  }
}

.google-auth {
    margin-top: 10px;
}

.loginBtn {
  margin: auto;
  width: 170px;
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
  
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  
  .loginBtn:focus {
    outline: none;
  }
  
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }