.users-list{
    position: absolute;
    left: 10px;
    top: 50px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    height: auto;
    width: 200px;
    z-index: 1;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: none;
}

@media (min-width: 1000px) {
    .users-list-btn{
        display: none;
    }
}

.users-number {
    position: absolute;
    top: 16px;
    right: 5px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    background-color: brown;
    border-radius: 50px;
}