.users-list{
    width: 50px;
    position: absolute;
    left: 10px;
    top: 50px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: azure;
    height: auto;
    width: auto;
    border-radius: 5px;
}

@media (min-width: 800px) {
    .users-list-btn{
        display: none;
    }
}

.users-number {
    position: absolute;
    top: 16px;
    right: 5px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    background-color: brown;
    border-radius: 50px;
}