.ul-users{
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

.user-n-img{
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.default-user-pic{
  display: inline-block;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  margin-top: 5px;
  margin-left: 10px;
}

.user-name {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  padding-left: 5px;
}

@media (max-width: 1000px){
  .logged-users-container {
      display: none
  }
}